#skills {
    background-color: #A6C9C8;
    padding: 50px;
    @media screen and (max-width: 980px) {
        padding: 30px;
    }

    .section-title {
        text-align: left;
        margin-bottom: 50px;
        @media screen and (max-width: 980px) {
            text-align: center;
        }
    }

    .skills {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        @media screen and (max-width: 980px) {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 40px;
        }
    
        .skills-logo {
            width: 50px;
            height: 50px;
        }
    }

    .quality-lists {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
        margin-top: 40px;
        @media screen and (max-width: 980px) {
            display: grid;
        }

        .list {

            li {
                display: flex;
                align-items: center;
                padding: 15px;

                .dot {
                    margin-inline: 5px;
                    width: 13px;
                    height: 13px;
                    background-color:  #09B8D9;
                    border-radius: 100%;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}