#news {

    .slider-project {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 470px;
        position: relative;

        .img-slider {
            width: 80%;
            height: 100%;
            object-fit:cover;
        }

        .change-project {
            width: 80%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            .change {
                cursor: pointer;
            }
        
            .hand-right {
                position: absolute;
                left: 10px;
            }

            .hand-left {
                position: absolute;
                right: 10px;
            }
        }
    }
}