#news {

    .slider-project {
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 470px;
        position: relative;

        .img-slider {
            width: 50%;
            height: 100%;
            object-fit:scale-down;
        }

        .change-project {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            .change {
                cursor: pointer;
            }
        
            .hand-right {
                left: 10px;
            }

            .hand-left {
                right: 10px;
            }
        }
    }
}